<div class="main-header">
  <div class="header-left">
    <div class="chat-title">
      hogefuga
    </div>
  </div>
  <div class="header-right">
    <div class="chat-end">
      <a href="#">チャットを終了する</a>  
    </div>
  </div>
</div>

<div class="main-main">
<div class="messi">
  <div class="one-message">
    <div class="name-date">
      <div class="name">Tom</div>
      <div class="date">2021/4/15(FRI) 16:04:00</div>
    </div>
    <div class="message">おはよう</div>
  </div>
  <div class="one-message">
    <div class="name-date">
      <div class="name">Tom</div>
      <div class="date">2021/4/15(FRI) 16:04:00</div>
    </div>
    <div class="message">おはよう</div>
  </div>
  </div>
</div>
<div class="main-footer">
  <div class="forms">
      <input class="text" placeholder="type amessage">
      <label class="form-image">
        <span class="image">画像</span>
        <input type="file" class="image-choice">
      </label>
    </div>
      <input type="submit" value="送信" class="send">
</div>

